@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  padding: 0 20px;
}
.header h1{
  font-family: "Dancing Script", cursive;
  font-size: 3.5rem;
  font-weight: bold;
  cursor: pointer;
  user-select: none;

}

.header nav{
display: flex;
align-items: center;
justify-content: center;

}

.header nav >a{
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: brown;
    color: #fff;
    cursor: pointer;
}
